<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
    <pkg-ref id="edu.ucdavis.infantcognitionlab.habit2"/>
    <background>file="h2.png" alignment="bottomleft" scaling="proportional"</background>
	<license>file="habit-copyright.rtf"</license>
	<welcome>file="welcome.rtf"</welcome>
	<options customize="never" require-scripts="false"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.10"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="edu.ucdavis.infantcognitionlab.habit2"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="edu.ucdavis.infantcognitionlab.habit2" visible="false">
        <pkg-ref id="edu.ucdavis.infantcognitionlab.habit2"/>
    </choice>
    <pkg-ref id="edu.ucdavis.infantcognitionlab.habit2" version="0" onConclusion="none">habit2.pkg</pkg-ref>
</installer-gui-script>